:host {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 16px;
	border-radius: 2px;
	cursor: pointer;

	& > * + * {
		margin-left: 8px;
	}

	.box {
		width: 48px;
		height: 48px;
		background-color: #bbb;
	}
	.info { font-size: 16px; }
	.name { font-weight: bold; }
	.email { font-size: small; }
}
