<ng-container [formGroup]="form">
	<mat-form-field>
		<mat-label>Name</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="name">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Description</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="description">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Image</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="image">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Condition</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="condition">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Category</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="category">
	</mat-form-field>
</ng-container>
