<ng-container [formGroup]="form">
	<mat-form-field>
		<mat-label>Name</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="name">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Description</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="description">
	</mat-form-field>

	<input type="file" id="file" (change)="handleFileInput($event.target.files)">

	<!--<mat-form-field>
		<mat-label>Condition</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="condition">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Category</mat-label>
		<input matInput  placeholder="Just a placeholder" formControlName="category">
	</mat-form-field>-->

	<img class="image" *ngIf="controlValue('imageUrl')" [src]="controlValue('imageUrl')">
</ng-container>
